﻿
@{
    ViewBag.Title = "Protection Plan Services";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Protection Plan Services</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/css/style.css?v=1.6")" rel="stylesheet">
    <style>
    </style>
</head>

<!--________________body_________________-->
<body>

    <!-- Navigation -->
    <div class="container-fluid section77 d-sm-none">
        <div class="row text-center">
            <div class="col-12">
                <div style="width: 49%; float: left;">
                    <a class="navbar-brand" href="#">
                        <img src="@Url.Content("~/Image/logo2.png")" width="150">
                    </a>
                </div>
                <div style="width: 49%;float: right;">
                    <img src="@Url.Content("~/Image/logo1.png")" style="width: 132px;padding-top: 0px;" />
                    
                </div>
            </div>
        </div>
    </div>

    <!--- Section1 -->
    <div class="container-fluid section1" id="Home">
        <div class="dark-overlay">
            <div class="row text-center">
                <div class="col-md-6 col-lg-7 nopd">
                    <script type="text/javascript" async src="https://play.vidyard.com/embed/v4.js"></script>
                    <img style="width: 100%; margin: auto; display: block;"
                         class="vidyard-player-embed"
                         src="https://play.vidyard.com/6TuDTaGSP5z4DBDLymwSxL.jpg"
                         data-uuid="6TuDTaGSP5z4DBDLymwSxL"
                         data-v="4"
                         data-type="inline" />

                </div>
                <div class="col-md-6 col-lg-5 pd0t notmob">
                    <div style="width: 50%; float: left;">
                        <a class="navbar-brand" href="#">
                            <img src="@Url.Content("~/Image/logo2.png")" width="150">
                        </a>
                    </div>
                    <div style="width: 50%;float: right;">
                        <img src="@Url.Content("~/Image/logo1.png")" style="width: 132px;padding-top: 0px;" />

                    </div>
                    <div  class="clearfix">
                    <h1 class="display-4" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                        Take Control of Your Future Credit Score
                    </h1>

                    <a onclick="notifyandredirect()" href="#">
                        <button class="btn" style="background-color:#FC4C0B !important;color:white !important;border-radius: 119px;">
                            SIGN-UP
                        </button>
                    </a>
                    <div class="dtop" style="color:white !important;">
                        <h3>Credit Consultants</h3>
                        <h5 style="color:white !important;">
                            <i class="fa fa-phone" style="font-size:24px"></i>
                            (407) 753-

                            4620

                        </h5>
                        <h5 style="color:white !important;">
                            <i class="fa fa-envelope" style="font-size:24px"></i><a href="mailto:consultants@smartprotectionplan.com"> consultants@smartprotectionplan.com</a>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>


    <!--- Section3 -->
    <div class="container-fluid section3 padding">
        <div class="row text-center mob">
            <div class="col-md-6 col-lg-7">


            </div>
            <div class="col-md-6 col-lg-5 pd0t">

                <h1 class="display-4" style="color:#11386a;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
                    Take Control of Your Future Credit Score
                </h1>

                <a onclick="notifyandredirect()" href="#">
                    <button class="btn" style="background-color:#FC4C0B !important;color:white !important;border-radius: 119px;">
                        SIGN-UP
                    </button>
                </a>
                <div class="dtop" style="color:white !important;">
                    <h3>Credit Consultants</h3>
                    <h5 style="color:white !important;">
                        <i class="fa fa-phone" style="font-size:24px"></i>
                        (407) 753-

                        4620

                    </h5>
                    <h5 style="color:white !important;">
                        <i class="fa fa-envelope" style="font-size:24px"></i><a href="mailto:consultants@smartprotectionplan.com"> consultants@smartprotectionplan.com</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="row text-center padding">
            <div class="col-12">
                <h2 style="color: #3B566E;" class="inclusive">An all-inclusive financial membership...</h2>
                <p class="lead">
                    <br>

                    The all-inclusive Protection Plan was designed to support your financial opportunities by implementing positive

                    habits to create and maintain a strong financial future.
                    <br><br>
                    Our unique collection of services have been carefully selected to provide protection and opportunity

                    over the many aspects of your finances- all combined into one easy-to-use system. Your membership can

                    help to ensure you

                    and your family are safeguarding the assets that you've earned and those you have to come.<br><br>
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <img src="@Url.Content("~/Image/Credit_restoration.png")" width="80">
                <h3 style="margin-top: 10px;color: #3B566E;">Credit Restoration</h3>
                <p class="">
                    Restore your score, create positive financial habits and maximize your financial

                    opportunities.
                </p>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="@Url.Content("~/Image/Will_Trust.png")" width="80">
                <h3 style="margin-top: 10px;color: #3B566E;">Score Tracker Alerts</h3>
                <p class="">
                    Take control of your future credit score with our interactive Smart Credit Reports and action buttons.
                </p>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <img src="@Url.Content("~/Image/Credit_Attorney.png")" width="80">
                <h3 style="margin-top: 10px;color: #3B566E;">ID Fraud Insurance</h3>
                <p class="">
                    Our plan includes $1MM comprehensive ID fraud insurance that covers you and your whole family.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <img src="@Url.Content("~/Image/Identity_Mon.png")" width="80">
                <h3 style="margin-top: 10px;color: #3B566E;">Identity Monitoring</h3>
                <p class="">
                    Proactive monitoring that alerts you at the first sign of fraud and fully restores your

                    identity.
                </p>
            </div>
        </div>
    </div>


    <!---Section6-->
    <div class="container-fluid section6 padding">
        <div class="row padding cards">
            <div class="col-12">
                <h1 class="display-5" style="text-align: center;color: #fff">Testimonials</h1>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" style="text-align: justify;">
                            It never occurred to me how much my credit

                            affected my life until something went wrong. My identity was stolen, and charges appeared in

                            my credit report.The

                            Credit Restoration program has moved me forward in my financial goals though helping me remove

                            fraudulent charges from my

                            credit report. My credit score was improved, and with the many parts of the Protection Plan, I

                            have the additional

                            resources to continue a positive financial trend for the long run.
                        </p>
                        <h4 class="card-title" style="color: #3B566E;">T. Harris</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" style="text-align: justify;">
                            Using The  Protection Plan helped me to take

                            control of my finances. They have the expertise and time to help me with the questions I have

                            and the things I needed

                            done. Specifically, I have been most impacted by the Credit Restoration tool. The guided me

                            through the process of

                            eliminating problematic negative items on my credit report. I am grateful to have found a

                            service to walk me through the

                            process, as I was unsure of how to go about doing it by myself.
                        </p>
                        <h4 class="card-title" style="color: #3B566E;">S. York</h4>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" style="text-align: justify;">
                            I joined the Protection Plan for several

                            reasons, but I find myself really appreciating the Credit Builder tool. It helped us to

                            understand where we stood

                            financially, and how we could improve through easy financial activities. It might seem simple,

                            but having this option

                            available has made a real difference for me.
                        </p>
                        <h4 class="card-title" style="color: #3B566E;">M. Santos</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text" style="text-align: justify;">
                            I’ve worked hard to earn my money and credit

                            rating, and the idea of having my good name ruined by someone stealing my identity was

                            terrifying. I signed up for the

                            Protection Plan and immediately engaged the ID Theft Alert and Fraud Insurance system. It is a relief to not have to

                            worry about my information

                            being used or sold online, because the system monitors the web for me. If something were to

                            happen, they let me know, and

                            even double check on abnormal expenses when they happen. This system gives me peace of mind.
                        </p>
                        <h4 class="card-title" style="color: #3B566E;">L. James</h4>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <!--- Footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">

                <div class="col-12">

                    <h5>© 2020 All Rights Reserved.</h5>
                </div>
            </div>
        </div>
    </footer>
    <script>

        function notifyandredirect() {
            var url = "https://www.smartcredit.com/?PID=56027";
            var _url = "@Url.Action("SendnotifyAsync","home")";
            $.get(_url, function (data) {
                location.href = url;
            });
        }

        function SendvisitAsync() {
                        var _url = "@Url.Action("SendvisitAsync", "home")";
            $.get(_url, function (data) {

            });
        }
SendvisitAsync();
    </script>

</body>
</html>














